@use  "../../assets/partials/colors";
@use "../../assets/partials/typography";
@import "../../assets/partials/mixins";

//Whole Hero Story Page
.hero-info-story-container{
    background: colors.$primary-two;
    width: 100%;
}

// Story Font sizes
.hero-info-story-container h1{
    color: colors.$blue-text;
    font-size: 2.25rem;
    letter-spacing: 0.05rem;
}
.hero-info-story-container h2{
    color: colors.$cta;
    font-size: 1.75rem;
}
.hero-info-story-container p{
    font-family: 'SteelFish';
    letter-spacing: 0.095rem;
    font-size: 1.5rem;
    margin-left: 1rem;
}

//Hero Story Header
.hero-story-header{
    display: flex;
}

//Hero Story Body
.hero-story-basic-info{
    display: flex;
    align-items: center;
}

.hero-story-paragraph{
    display: flex;
    flex-direction: column;
    background: colors.$primary-two-light;
    margin: 0.5rem;
}

