@use '../../assets/partials/colors';
@import '../../assets/partials/mixins';

.home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-page-title{
    display: flex;
    justify-content: center;
    width: 50%;
}

.home-page-title h1{
    font-size: 2.75rem;
    background: -webkit-linear-gradient(0.45turn, colors.$cta , colors.$text, colors.$cta);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include tablet{
        font-size: 3.25rem;
    }

    @include desktop-small{
        font-size: 4.5rem;
    }

    @include desktop{
        font-size: 5rem;
    }

    @include desktop-large{
        font-size: 6.5rem;
    }
}

.home-page-img-one{
    width: 100%;
    display: flex;
    justify-content: center;
}

.win-reap{
    width: 17rem;
}
