$black: #000000;
$white: #f1f1f1;
$text: #f1eeee;
$text-two: #d0d0dc;
$primary-one: #43484c;
$primary-one-opacity: #43484cbe;
$primary-two: #405275;
$primary-two-light: #495f8b;
$primary-two-opacity: #40527591;
$secondary: #218ffe;
$secondary-opacity: #218ffebc;
$cta: #f99e1a;
$blue-text: #00c3ff;