@font-face {
    font-family: "Zekton";
    src: url('../fonts/ZektonRg-Regular.woff2') format("woff2"),
         url('../fonts/ZektonRg-Regular.woff') format("woff");
}

@font-face {
    font-family: "SteelFish";
    src: url('../fonts/SteelfishRg-Regular.woff2') format("woff2"),
         url('../fonts/SteelfishRg-Regular.woff') format("woff");
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('../fonts/RobotoCondensed-Regular.woff2') format("woff2"),
         url('../fonts/RobotoCondensed-Regular.woff') format("woff");
}