@use '../../assets/partials/colors';
@use '../../assets/partials/typography';
@import '../../assets/partials/mixins';

// Whole Player Profile Display
.player-profile-container{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 100%;
}

// Player Basic Info Container
.player-basic-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// Icon & Name
.icon-name{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.icon-name h1{
    font-size: 1.75rem;

    @include tablet{
        font-size: 2.75rem;
    }
    @include desktop-small{
        font-size: 3.75rem;
    }
    @include desktop{
        font-size: 4.75rem;
    }
    @include desktop-large{
        font-size: 5.75rem;
    }
}
.player-icon{
    width: 4.75rem;
    margin-right: 1rem;
    @include tablet{
        width: 5.75rem;
        margin-right: 1.25rem;
    }
    @include desktop-small{
        width: 6.75rem;
        margin-right: 1.5rem;
    }
    @include desktop{
        width: 7.75rem;
        margin-right: 1.75rem;
    }
    @include desktop-large{
        width: 8.75rem;
        margin-right: 2rem;
    }
}

// Endorsement & Level
.endorsement-level{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}
.endorsement-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7rem; 
}
.endorsement-div{
    margin-top: -5.75rem;
    @include tablet{
        margin-top: -7rem; 
    }
    @include desktop-small{
        margin-top: -8.5rem; 
    }
    @include desktop{
        margin-top: -9.75rem; 
    }
    @include desktop-large{
        margin-top: -11.25rem;  
    }
}
.level-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7rem;
    
}
.level-div{
    margin-top: -6.25rem;
    @include tablet{
        margin-top: -7.75rem; 
    }
    @include desktop-small{
        margin-top: -9rem; 
    }
    @include desktop{
        margin-top: -10.5rem; 
    }
    @include desktop-large{
        margin-top: -11.5rem;  
    }
}
.prestige-div{
    margin-top: -1.25rem;
    @include tablet{
        margin-top: -1.75rem; 
    }
    @include desktop-small{
        margin-top: -2.25rem; 
    }
    @include desktop{
        margin-top: -2.75rem; 
    }
    @include desktop-large{
        margin-top: -3.25rem;  
    }
}
.endorsement{
    font-size: 1.5rem;
    @include tablet{
        font-size: 2rem; 
    }
    @include desktop-small{
        font-size: 2.5rem; 
    }
    @include desktop{
        font-size: 3rem; 
    }
    @include desktop-large{
        font-size: 3.5rem;  
    }
}
.endorsement-icon{
    width: 7rem;
    @include tablet{
        width: 8.5rem; 
    }
    @include desktop-small{
        width: 9.5rem;  
    }
    @include desktop{
        width: 10.5rem;
    }
    @include desktop-large{
        width: 11.5rem;  
    }
}
.level{
    font-size: 1.5rem;
    
    @include tablet{
        font-size: 2rem; 
    }
    @include desktop-small{
        font-size: 2.5rem; 
    }
    @include desktop{
        font-size: 3rem;
    }
    @include desktop-large{
        font-size: 3.5rem;  
    }
}
.level-icon{
    width: 8rem;
    @include tablet{
        width: 9.5rem;  
    }
    @include desktop-small{
        width: 10.5rem;  
    }
    @include desktop{
        width: 11.5rem; 
    }
    @include desktop-large{
        width: 12.5rem; 
    }
}
.prestige-icon{
    width: 8rem;
    @include tablet{
        width: 9.5rem;  
    }
    @include desktop-small{
        width: 10.5rem; 
    }
    @include desktop{
        width: 11.5rem;
    }
    @include desktop-large{
        width: 12.5rem;   
    }
}

// Player Ratings Area
.player-rating-display{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.role-sr-info-display{
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
}
.role-sr-info-display h2{
    font-size: 1rem;
    @include tablet{
        font-size: 2rem;
    }
    @include desktop-small{
        font-size: 3rem;  
    }
    @include desktop{
        font-size: 4rem;
    }
    @include desktop-large{
        font-size: 4.5rem;  
    }
}
.role-sr-info-display:nth-child(2){
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.sr-role-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    @include tablet{
        width: 2rem;
        height: 2rem;
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }
    @include desktop-small{
        width: 2.5rem;
        height: 2.5rem;  
    }
    @include desktop{
        width: 3rem;
        height: 3rem;
    }
    @include desktop-large{
        width: 3.5rem;
        height: 3.5rem;  
    }
}
.sr-icon{
    width: 2rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    @include tablet{
        width: 3rem;
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }
    @include desktop-small{
        width: 4rem;  
    }
    @include desktop{
        width: 5rem;
    }
    @include desktop-large{
        width: 6rem;  
    }
}
.role-sr-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.role-sr-rank{
    display: flex;
    align-items: center;
    justify-content: center;
}
.combined-sr-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.combined-sr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.combined-sr-display h2{
    font-size: 1.25rem;
    @include tablet{
        font-size: 2rem;
    }
    @include desktop-small{
        font-size: 3rem;  
    }
    @include desktop{
        font-size: 4rem;
    }
    @include desktop-large{
        font-size: 4.5rem;  
    }
}
.combined-icon{
    width: 3rem;
    padding-right: 1rem;
    @include tablet{
        width: 4rem;
    }
    @include desktop-small{
        width: 5rem;  
    }
    @include desktop{
        width: 6rem;
    }
    @include desktop-large{
        width: 7rem;  
    }
}
// Mode Stat List Container
.mode-stats-list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.mode-select{
    font-family: 'Zekton';
    font-size: 1.25rem;
    padding: 0.5rem;
    text-align: center;
    background: colors.$primary-one;
    color: colors.$blue-text;
    outline: none;
    border: none;
    &:hover{
        box-shadow: inset 0 0 1px 2px rgba(0, 162, 255, 0.603);
    }
    @include tablet{
        font-size: 1.75rem;
    }
    @include desktop-small{
        font-size: 2.5rem;  
    }
    @include desktop{
        font-size: 3.25rem;
    }
    @include desktop-large{
        font-size: 3.75rem; 
    }
}
.n-a-dropdown{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    @include tablet{
        font-size: 1.75rem;
    }
    @include desktop-small{
        font-size: 2.5rem;  
    }
    @include desktop{
        font-size: 3.25rem;
    }
    @include desktop-large{
        font-size: 3.75rem; 
    }
}
