@use '../../assets/partials/colors';
@use '../../assets/partials/typography';
@import '../../assets/partials/mixins';



.lfg-create-post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: colors.$primary-one;
}


.close-create-post{
    background: transparent;
    color: red;
    font-size: 2rem;
    outline: none;
    border: none;
    &:hover{
        cursor: pointer;
    }
} 
.close-post-button-hidden{
    display: none;
}