@use '../../assets/partials/colors';
@use '../../assets/partials/typography';
@import '../../assets/partials/mixins';


.player-data-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://bnetcmsus-a.akamaihd.net/cms/blog_thumbnail/t1/T1VN4RZYM4261586452519196.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    padding-bottom: 15rem;
}

.player-data-header{
    border-bottom: 1px solid white;
    border-bottom-width: 80%;
}
.player-data-header h1{
    font-size: 3rem;
    @include tablet{
        font-size: 4rem;
    }
    @include desktop-small{
        font-size: 5rem;
    }
    @include desktop{
        font-size: 6rem;
    }
    @include desktop-large{
        font-size: 7rem;
    }
}