@use  "../../assets/partials/colors";
@use "../../assets/partials/typography";
@import "../../assets/partials/mixins";

//Hero Page Whole Container
.hero-info-page-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Hero Header Area
.hero-text-header-container{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include tablet{
        width: 90%;
    }
    @include desktop-small{
        width: 80%;
    }
    @include desktop{
        width: 70%;
    }
    @include desktop-large{
        width: 60%;
    }
}

.hero-text-header-active{
    color: cyan;
    background: colors.$primary-two;
    border: 1px solid colors.$primary-two;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 1rem;
    @include tablet{
        font-size: 1.25rem;
    }
    @include desktop-small{
        font-size: 1.5rem;
    }
    @include desktop{
        font-size: 1.75rem;
    }
    @include desktop-large{
        font-size: 2rem;
    }
}

.hero-text-header-inactive{
    color: colors.$black;
    background: colors.$white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 1rem;
    @include tablet{
        font-size: 1.25rem;
    }
    @include desktop-small{
        font-size: 1.5rem;
    }
    @include desktop{
        font-size: 1.75rem;
    }
    @include desktop-large{
        font-size: 2rem;
    }
}

.hero-text-body-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    @include tablet{
        width: 90%;
    }
    @include desktop-small{
        width: 80%
    }
    @include desktop{
        width: 70%;
    }
    @include desktop-large{
        width: 60%;
    }
}