@use  "../../assets/partials/colors";
@use "../../assets/partials/typography";
@import "../../assets/partials/mixins";

//Whole Hero Page
.hero-info-page-container{
    background-image: url('https://external-preview.redd.it/Qoz9M0IprTgcgf70-FEBXJO92g9lg9HOA0lR4tgfd2o.jpg?auto=webp&s=fc4d176521a5562452b4ca2b43d07a17b9f64768');
    padding-bottom: 50rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
   display: flex;
   flex-direction: column;
}

//Hero Page Header
.hero-info-page-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hero-img-one{
    width: 55%;
}
.hero-info-page-header h1{
    font-size: 4.5rem;
    background: -webkit-linear-gradient(0.45turn, colors.$cta , colors.$white, colors.$cta);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include tablet{
        font-size: 5rem;
    }
    @include desktop-small{
        font-size: 5.5rem;
    }
    @include desktop{
        font-size: 6rem;
    }
    @include desktop-large{
        font-size: 6.5rem;
    }
}

//Hero Page Text Area
.hero-page-text-area{
    display: flex;
}

// Hero Page Footer
.hero-info-page-footer{
    display: flex;
    margin-top: 10rem;
    width: 100%;
}
.hero-img-two{
    width: 100%;
}