@use  "../../assets/partials/colors";
@use "../../assets/partials/typography";
@import "../../assets/partials/mixins";

.hero-info-page-container{
    background-image: url('https://external-preview.redd.it/Qoz9M0IprTgcgf70-FEBXJO92g9lg9HOA0lR4tgfd2o.jpg?auto=webp&s=fc4d176521a5562452b4ca2b43d07a17b9f64768');
    padding-bottom: 50rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
   display: flex;
}