@use '../../assets/partials/colors';
@use '../../assets/partials/typography';
@import '../../assets/partials/mixins';


// Hero Gallery Page
.hero-gallery-page-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('https://external-preview.redd.it/Qoz9M0IprTgcgf70-FEBXJO92g9lg9HOA0lR4tgfd2o.jpg?auto=webp&s=fc4d176521a5562452b4ca2b43d07a17b9f64768');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
    
}

.hero-gallery-header{
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
}

.hero-gallery-header h1{
    font-size: 3.5rem;
    background: -webkit-linear-gradient(0.45turn, colors.$secondary , colors.$cta, colors.$secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include tablet {
        font-size: 4.5rem;
    }

    @include desktop-small{
        font-size: 5.5rem;
    }

    @include desktop{
        font-size: 6.5rem;
    }

    @include desktop-large{
        font-size: 7.5rem;
    }
}

// Hero Card
.all-hero-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

// Tab Filter Section
.tab-header-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.tab-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.tab-inactive{
    padding: 1rem;
    background: colors.$white;
    color: colors.$secondary;
    box-shadow: inset 0 0 2px 2px colors.$primary-one;
    font-size: 1.5rem;
    border: 1px solid colors.$text-two;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        background: #bbccd6;
    }

    @include tablet{
        font-size: 1.75rem;
        padding: 1.25rem;
    }

    @include desktop-small{
        font-size: 2rem;
        padding:1.5rem;
    }

    @include desktop{
        font-size: 2.25rem;
        padding: 1.75rem;
    }

    @include desktop-large{
        font-size: 2.5rem;
        padding: 2rem;
    }
}
.tab-active{
    background: colors.$primary-two;
    color: aqua;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 2px;
    border: 1px solid colors.$text-two;
    cursor: pointer;
    box-shadow: inset 0 0 2px 2px colors.$primary-one;
    &:hover {
        background: #bbccd6;
        color: colors.$secondary;
    }

    @include tablet{
        font-size: 1.75rem;
        padding: 1.25rem;
    }

    @include desktop-small{
        font-size: 2rem;
        padding:1.5rem;
    }

    @include desktop{
        font-size: 2.25rem;
        padding: 1.75rem;
    }

    @include desktop-large{
        font-size: 2.5rem;
        padding: 2rem;
    }
}

